*.o
*.so
.deps
saio.toc
saio.aux
saio.pdf
saio.log
saio.out
saio.nav
saio.snm
saio.vrb
saio-move-*.png
saio-pivot-*.png
saio-recalc-*.png
saio.*.vrb
results/
pgcon2010/saio-move-2.dot.pdf
pgcon2010/saio-move-3.dot.pdf
